$imgGrid: '../../img/grid.jpg';
$imgPoly: '../../img/poly-portrait.jpg';
$imgMono: '../../img/mono-portrait.jpg';
$imgMonoBlack: '../../img/mono-black-portrait.jpg';
$imgObstacle: '../../img/obstacle.jpg';